streamlit
langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-groq
langchain-huggingface
langgraph

faiss-cpu
pypdf
python-dotenv
duckduckgo-search
requests

sentence-transformers
huggingface-hub